body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: gray;
    font-weight: 400;
}

.container
{
    display: block;
    text-align: center;
    padding: 4rem;
    background-color: aqua;
    flex: 0 0 70%; /* always occupy 70 of the screen */
    border-radius: 10px;
    border:2px solid brown;
}

.btn{
    color: white;
    background-color: green;
    border-radius: 3px solid brown;
}
